<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Test2.eTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.hTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test1.dTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/>Test1.cTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/>Test2.fTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test1.bTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/></td></tr>
<tr><td>Sanity</td><td>Test2.eTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.hTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test1.dTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/></td></tr>
<tr><td>Test1</td><td>Test1.dTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/>Test1.cTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/></td></tr>
<tr><td>Test1Regression</td><td>Test1.aTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/></td></tr>
<tr><td>Test2</td><td>Test2.eTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test2.hTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/></td></tr>
<tr><td>TestSanity</td><td>Test2.fTest1()[pri:0, instance:testTestNG.Test2@610f7aa]<br/>Test1.bTest1()[pri:0, instance:testTestNG.Test1@11fc564b]<br/></td></tr>
</table>
