<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d572c1">  <td>22/05/12 16:36:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.bTest1()[pri:0, instance:testTestNG.Test1@11fc564b]">bTest1</td> 
  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
<tr bgcolor="d572c1">  <td>22/05/12 16:36:06</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.cTest1()[pri:0, instance:testTestNG.Test1@11fc564b]">cTest1</td> 
  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>22/05/12 16:36:06</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.fTest1()[pri:0, instance:testTestNG.Test2@610f7aa]">fTest1</td> 
  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>22/05/12 16:36:06</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.gTest1()[pri:0, instance:testTestNG.Test2@610f7aa]">gTest1</td> 
  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="d572c1">  <td>22/05/12 16:36:06</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.aTest1()[pri:0, instance:testTestNG.Test1@11fc564b]">aTest1</td> 
  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>22/05/12 16:36:06</td>   <td>-35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.eTest1()[pri:0, instance:testTestNG.Test2@610f7aa]">eTest1</td> 
  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="d572c1">  <td>22/05/12 16:36:06</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.dTest1()[pri:0, instance:testTestNG.Test1@11fc564b]">dTest1</td> 
  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
<tr bgcolor="6e82ae">  <td>22/05/12 16:36:06</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testTestNG.Test2@610f7aa]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="90fcbb">  <td>22/05/12 16:36:06</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.hTest1()[pri:0, instance:testTestNG.Test2@610f7aa]">hTest1</td> 
  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="6e82ae">  <td>22/05/12 16:36:06</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.tearDown()[pri:0, instance:testTestNG.Test1@11fc564b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
<tr bgcolor="6e82ae">  <td>22/05/12 16:35:55</td>   <td>-10780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initBrowser()[pri:0, instance:testTestNG.Test2@610f7aa]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@585324508</td>   <td></td> </tr>
<tr bgcolor="6e82ae">  <td>22/05/12 16:35:55</td>   <td>-10780</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initBrowser()[pri:0, instance:testTestNG.Test1@11fc564b]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@769530879</td>   <td></td> </tr>
</table>
