<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testTestNG.Test2</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>hTest1</td>
<td>Sanity Regression Test2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>eTest1</td>
<td>Sanity Regression Test2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>fTest1</td>
<td>Regression TestSanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>gTest1</td>
<td>Sanity Regression Test2 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
