<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Test2.hTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.fTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.eTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/></td></tr>
<tr><td>Sanity</td><td>Test2.hTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.eTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/></td></tr>
<tr><td>Test2</td><td>Test2.hTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.gTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/>Test2.eTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/></td></tr>
<tr><td>TestSanity</td><td>Test2.fTest1()[pri:0, instance:testTestNG.Test2@34b9f960]<br/></td></tr>
</table>
