<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.fTest1()[pri:0, instance:testTestNG.Test2@34b9f960]">fTest1</td> 
  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:17</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.gTest1()[pri:0, instance:testTestNG.Test2@34b9f960]">gTest1</td> 
  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:13</td>   <td>-3599</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.initBrowser()[pri:0, instance:testTestNG.Test2@34b9f960]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:17</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.tearDown()[pri:0, instance:testTestNG.Test2@34b9f960]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:17</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.eTest1()[pri:0, instance:testTestNG.Test2@34b9f960]">eTest1</td> 
  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
<tr bgcolor="99998f">  <td>22/06/06 10:30:17</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.hTest1()[pri:0, instance:testTestNG.Test2@34b9f960]">hTest1</td> 
  <td>TestNG-test=Test-1@932582590</td>   <td></td> </tr>
</table>
