<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.gTest1()[pri:0, instance:testTestNG.Test2@4f80542f]">gTest1</td> 
  <td>main@1231799381</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:28</td>   <td>4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.hTest1()[pri:0, instance:testTestNG.Test2@4f80542f]">hTest1</td> 
  <td>main@1231799381</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:18</td>   <td>-10839</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.initBrowser()[pri:0, instance:testTestNG.Test2@4f80542f]">&gt;&gt;initBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1231799381</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:28</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.eTest1()[pri:0, instance:testTestNG.Test2@4f80542f]">eTest1</td> 
  <td>main@1231799381</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:28</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.tearDown()[pri:0, instance:testTestNG.Test2@4f80542f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1231799381</td>   <td></td> </tr>
<tr bgcolor="a1cb84">  <td>22/06/06 11:09:28</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.fTest1()[pri:0, instance:testTestNG.Test2@4f80542f]">fTest1</td> 
  <td>main@1231799381</td>   <td></td> </tr>
</table>
